:root {
  --blue: #1992D4;
}

body {
  background-color: #E2E8F0;
  margin: 0;
  font-family: Roboto;
  height:100%
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 200px auto-fit;
}

.sidebar {
  background-color: var(--blue);
  color: white;
  grid-column: 1;
  grid-row: 1 / span 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap:35px;
}

.sidebar ul {
  list-style:none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  gap:15px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: left;
}

.header {
  padding: 20px;
  background-color: white;
  grid-column: 2 / span 3;
  grid-row: 1;
  box-shadow: 0px 3px 5px rgb(66, 66, 66);
}

.header a {
  color: black;
}

.header h2 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-row, .action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  width: 50%;
}

#searchBar {
  background-color: #E2E8F0;
  border-radius: 25px;
  border: none;
  width: 100%;
  height: 25px;
}

.personal-stuff {
  display: flex;
  align-items: center;
  gap: 5px;
}

.greeting-and-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hi, .greeting h2 {
  margin: 0;
}

button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 25px;
  height: 30px;
  width: 75px;
  cursor: pointer;
}

.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 15px;
  gap: 15px
}

.projects {
  grid-column: 1;
}

.your-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: space-between;
  gap: 15px;
}

.project {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 3px 3px rgb(66, 66, 66), inset 5px 0px #F0B429;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.project a {
  color: black;
}

.projects .icons {
  text-align: right;
}

.announcements, .trending {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 3px rgb(66, 66, 66);
}

.trending-project {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 10px;
}

p {
  color: #777;
}

.small-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.small-avatar img {
  width: 100%;
  min-height: 100%;
}

.personal-avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  overflow: hidden;
}

.personal-avatar img {
  width: 100%;
  height: auto;
}